@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300;
  src: url(woff/Jura-Light.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url(woff/Jura-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  src: url(woff/Jura-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  src: url(woff/Jura-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  src: url(woff/Jura-Bold.woff) format('woff');
}


@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url(woff/Rubik-Light.woff) format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(woff/Rubik-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url(woff/Rubik-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(woff/Rubik-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url(woff/Rubik-Black.woff) format('woff');
}
