@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300;
  src: local('Jura Light'), local('woff/Jura-Light'), url(Jura-Light.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('woff/Jura-Regular'), url(Jura-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  src: local('Jura Medium'), local('woff/Jura-Medium'), url(Jura-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  src: local('Jura SemiBold'), local('woff/Jura-SemiBold'), url(Jura-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  src: local('Jura Bold'), local('woff/Jura-Bold'), url(Jura-Bold.woff) format('woff');
}
